.grid {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-items: center;
  width: 100%;
  height: 250px;
  background-color: var(--backgroud);

}

.row {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 20px;
  justify-content: space-around;
  align-self: center;
}

p {
  /* font-size: larger;
  font-weight: bold; */
}